body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.top-banner{
    display: flex;
    padding-left: 100px;
    padding-top: 80px;
    margin-bottom: 100px;
}
#about{
    display: flex;
}
#top-banner p{
    margin-bottom: 45px;
    font-size: 20px;
    color: #828282;
    font-weight: 500;
    line-height: 32px;
}
#top-banner h1{
    font-size: 60px;
    color: #575757;
    font-weight: 700;
    margin-top: 180px;
    margin-bottom: 45px;
    line-height: 75px;
}
.half-width{
    width: 50%;
}
.highlighter{
    color: #FBA24F;
}
.btn{
 text-decoration: none;
 color: #ffffff;
 background-image: linear-gradient(to right,#fc8f49,#fd5432);
 padding: 20px 45px;
 border-radius: 25px;
 font-size: 18px;
 font-weight: 600;
}
.about{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.about-person{
    padding-left: 200px;
}
.about img{
    width: 60%;
}
.about-text{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.about-text h1{
    color: #707070;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 45px;
}
.about-text p{
    color: #18191F;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 60px;
}